@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BodoniIf';
  src: url('/fonts/BodoniIfRoman-vmAD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BodoniIf';
  src: url('/fonts/BodoniflfBold-MVZx.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BodoniIf';
  src: url('/fonts/BodoniIfItalic-2OEw.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'BodoniIf';
  src: url('/fonts/BodoniIfBoldItalic-K7dD.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Georgia';
  src: url('/fonts/georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('/fonts/georgiab.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('/fonts/georgiai.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Georgia';
  src: url('/fonts/georgiaz.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Cormorant Garamond Font Family */
@font-face {
  font-family: 'CormorantGaramond';
  src: url('/fonts/CG/CormorantGaramond-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('/fonts/CG/CormorantGaramond-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('/fonts/CG/CormorantGaramond-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('/fonts/CG/CormorantGaramond-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('/fonts/CG/CormorantGaramond-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('/fonts/CG/CormorantGaramond-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('/fonts/CG/CormorantGaramond-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('/fonts/CG/CormorantGaramond-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('/fonts/CG/CormorantGaramond-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('/fonts/CG/CormorantGaramond-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-bodoni: 'BodoniIf', serif;
  --font-georgia: 'Georgia', serif;
  --font-plus-jakarta: 'PlusJakartaSans', sans-serif;
  --font-cormorant-garamond: 'CormorantGaramond', serif;
  --font-montserrat: 'Montserrat', serif;

  /* Primary Colors */
  --color-red-dark: rgb(142, 13, 22);
  /* #8E0D16 */
  --color-red-bright: rgb(252, 53, 28);
  /* #FC351C */
  --color-pink-dark: rgb(213, 58, 148);
  /* #D53A94 */
  --color-pink-light: rgb(244, 155, 186);
  /* #F49BBA */
  --color-deep-blue: #2C3E80;
  /* The dark blue shade */
  --color-soft-beige: #E6E2C3;
  /* The light beige color */
  --color-red-medium: #cf2c2c;
  /* #FC351C */
  --color-pink-medium: #ff89e0;
  /* #F49BBA */

  /* jmun 2026 */
  --color-biru-1: #C3EAE9;
  --color-ijo-muda: #A6DDA6;
  --color-biru-2: #1E9CC2;
  --color-orange: #F06E54;
  --color-kuning: #F2CB55;
  --color-cream: #FFF2E3;
  --color-biru-3: #025471;

  /* Typography */
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Merriweather', serif;

  /* Border Radius */
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 1rem;

  --animate-fade-in: fade-in 1.5s ease-in-out forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 100%;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.no-scrollbar-bg::-webkit-scrollbar {
  width: 6px;
}

.no-scrollbar-bg::-webkit-scrollbar-track {
  background: transparent;
}

.no-scrollbar-bg::-webkit-scrollbar-thumb {
  background-color: #02537160;
  border-radius: 9999px;
}